* {
  margin: 0px;
  padding: 0px;
  font-family: "Times New Roman", Times, serif;
}

header {
  display: flex;
  justify-content: center;
}

img {
  border-radius: 50%;
  margin-right: 10px;
}

section {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}

article {
  border-style: solid;
  padding: 5px 5px 5px 5px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(107, 107, 107);
  text-align: center;
}
